<!doctype html>
<html lang="zh" class="van-theme-light">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no,viewport-fit=cover"/>
    <title>You Title</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>

<!--    放开注释可以在移动端直接显示VConsole 用于调试-->
<!--    <script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>-->
<!--    <script>-->

<!--      // VConsole will be exported to `window.VConsole` by default.-->
<!--      var vConsole = new window.VConsole();-->
<!--    </script>-->

  </body>
</html>
