@tailwind base;
@tailwind components;
@tailwind utilities;
/*
html, body, 写入safe-area-inset-bottom 是为了通过js可以获取到顶部或者底部的实际像素高度
*/
@layer utilities {
    html{
        --safe-area-bottom:env(safe-area-inset-bottom);
        --safe-area-bottom-old:constant(safe-area-inset-bottom);
        --safe-area-top-old:constant(safe-area-inset-top);
        --safe-area-top:env(safe-area-inset-top);
    }
    /**
    默认字体设置
     */
    html,body,#app{
        @apply h-screen;
        font-family: -apple-system,BlinkMacSystemFont,Roboto,Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Noto Color Emoji";
    }
    /**
    html,body #app 默认以light 模式展示，都禁止滚动
     */
    html,body{
        color-scheme: light;
        @apply overflow-hidden bg-white text-body;
    }
    #app{
        @apply overflow-x-hidden overflow-y-auto mx-auto max-w-screen-sm relative;
    }
    /**
    不显示滚动条
     */
    .overflow-y-auto::-webkit-scrollbar,.overflow-x-auto::-webkit-scrollbar,.van-sidebar::-webkit-scrollbar{
        @apply w-0 h-0 hidden;
        scroll-behavior: smooth;
    }
    /**
    所有属性禁止用户选择高亮等属性
     */
    *{
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select:none;
        user-select:none;
        -webkit-touch-callout:none;
        touch-action: manipulation;
    }
    /*
    在不支持aspect-ratio使用如下
    宽高比hack
    */
    .aspect-inner{
        @apply absolute left-0 right-0 bottom-0 top-0 h-full w-full;
    }
    .aspect-16-9-hack,.aspect-2-1-hack,.aspect-square-hack,.aspect-3-1-hack{
        @apply h-0 relative w-full;
    }
    .aspect-16-9-hack{
        padding-top: 56.25%;
    }
    .aspect-2-1-hack{
        padding-top: 50%;
    }
    .aspect-square-hack{
        padding-top: 100%;
    }
    .aspect-3-1-hack{
        padding-top: 33.33334%;
    }
}
